<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="header-content">
      <ion-title>Galería de Recibos</ion-title>
      <div class="subtitle">{{ recibos.length }} recibos registrados</div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="verificados-box">
    <ion-icon name="checkmark-circle-outline" class="verificados-icon"></ion-icon>
    <div>
      <b class="verificados-title">Recibos Verificados</b>
      <div class="verificados-desc">Todos los gastos incluyen foto del recibo para mayor control</div>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let recibo of recibos">
        <ion-card class="recibo-card">
          <div class="img-container">
            <img [src]="recibo.foto" alt="Recibo" />
            <ion-icon name="search-outline" class="zoom-icon"></ion-icon>
          </div>
          <div class="recibo-info">
            <div class="recibo-titulo">{{ recibo.descripcion }}</div>
            <div class="recibo-footer">
              <span class="recibo-fecha">{{ recibo.fecha }}</span>
              <span class="recibo-monto">${{ recibo.monto }}</span>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="total-box">
    <div>
      <div class="total-num">{{ recibos.length }}</div>
      <div class="total-label">Total Recibos</div>
    </div>
  </div>
</ion-content>